@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Typical device breakpoints
-----------------------------
Celular extra pequeno (retrato) : 320px – 480px
Pequeno celular (paisagem) : 481px – 600px
Tablets pequenos (retrato) : 601px – 768px
Tablets grandes (paisagem) : 769px – 1024px
Pequenos desktops e laptops : 1025px – 1280px
Grandes desktops e telas de alta resolução : 1281px – 1440px
Desktops extragrandes : 1441px e mais*/

:root{/*paleta de cores*/
    --cor1:#401A39;
    --cor2:#F2D272;
    --cor3:#D9A05B;
    --cor4:#401E01;
    --cor5:#D98452;
    --font1: "DynaPuff", system-ui;
}

header{
    width: 100vw;
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 20px;
    text-align: center;
    font-family: var(--font1);
    position: fixed;
    top: -0px;
}

main{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3), var(--cor5));
    color: var(--cor1);
}

div.box-tarefas{
    width: 300px;
    height: 350px;
    text-align: center;    
}

div.box-tarefas img{
    margin-bottom: -20px;
}

div.box-tarefas h2{
    font-size: 2em;
    font-family: system-ui;
    margin-bottom: 10px;
}
div.box-tarefas h3{
    font-size: 1.5em;
    font-family: system-ui;
    margin-bottom: 5px;
}

div.box-tarefas form{
    width: 300px;
    text-align: left;
    margin: auto;
    padding-left:50px ;
    
}
/*--------------estilização do checkbox----------*/
input[type=checkbox]{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 2px solid var(--cor1);
    border-radius: 5px;
    appearance: none;
    transition: background-color 0.3s ease; /* Animação suave */
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background-color: var(--cor1); /* Cor verde ao marcar */
}

input[type="checkbox"]:checked::after {
    content: '✔'; /* Adiciona um símbolo */
    font-size: 16px;
    color: white;
    position: relative;
    left: 2px;
    top: -3px;
}
/*--------------estilização do checkbox----------*/
label{
    font-size: 1.2em;
    vertical-align: middle;
    font-family: system-ui;
    cursor: pointer;
    margin-left: 5px;
}